<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>jquery.d_modal.js demo</title>
		<link rel="stylesheet/less" type="text/css" href="/src/d_modal.less">
		<link rel="stylesheet/less" type="text/css" href="/src/d_modal-default.less">
		<link rel="stylesheet" type="text/css" href="/assets/demo.css">
		<script src="/assets/less-1.6.0.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/src/jquery.d_modal.js"></script>
		<script src="/assets/jquery.showme.js"></script>
	</head>
	<body>
		<nav>
			<span class="title">d_modal.js</span>
			<a href="/demo/">Demo</a>
			<a href="/documentation/">Documentation</a>
			<a href="https://github.com/hypesystem/d_modal.js" target="_blank">Contribute</a>
		</nav>
		{{ content }}
		<footer>
			A <a href="http://deranged.dk" target="_blank"><img src="/assets/small-black.png" alt="deranged"></a> project.
		</footer>
	</body>
</html>