<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<title>d_modal.js</title>
		<style type="text/css">
			body {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				background: rgb(44, 62, 80);
				color: white;
				font-size: 1.7vw;
				padding: 3em 20vw;
				font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			}
			a {
				color: rgb(236, 240, 241);
			}
			.small {
				font-size: 0.7em;
				text-align: right;
				margin-top: 10vw;
			}
			.small img {
				vertical-align: bottom;
			}
		</style>
	</head>
	<body>
		{{content}}
	</body>
</html>